{{ define "main" }}
 
  {{ range $index, $elemen:= (index $.Site.Data.portfolio $.Site.Params.locale).portfolioitems }}
    <div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .

      {{ else }}
        animated fadeInDown

      {{ end }}"
    >
        <div class="post-content">
            <button type="button" class="collapsible" id="myHeader" >
          <div class="post-title">
                <h2>{{ .title | markdownify }}  </h2>
          </div>
            </button>
            <div class="content" style="display: none;">
            {{ range $i, $p := .portfolioitem }}
            <div class="box-wrapper">
            {{ if .image }}
              <div
                class="box-image {{ if (modBool $i 2) }}
                  box-image--right

                {{ else }}
                  box-image--left

                {{ end }}"
              >
                  <img src="{{ .image | relURL }}" alt="{{ .name | markdownify }}" />
              </div>

            {{ end }}
            <div
              class="box {{ if (modBool $i 2) }}
                box--left

              {{ else }}
                box--right

              {{ end }}"
            >
              <h2>{{ .name | markdownify }}</h2>
              <div class="info">
                {{ if .status }}
                  <em class="fas fa-flag-checkered"></em>
                  <span>{{ .status }}</span>

                {{ end }}
                {{ if .venue }}
                  <em class="fas fa-map-marker-alt"></em>
                  <span>{{ .venue }}</span>

                {{ end }}
                {{ if .start }}
                  <span>Start:</span>
                  <span>{{ .start }}</span>

                {{ end }}
                {{ if .end }}
                  <span>End:</span>
                  <span>{{ .end }}</span>

                {{ end }}
              </div>
              {{ if .authors }}
                <div class="info">
                  {{ range .authors }}
                    <span>{{ . }}</span>

                  {{ end }}
                </div>

              {{ end }}
              <p>{{ .description | markdownify }}</p>
              {{ if .link }}
                <div class="cta">
                    <a class="btn" href="{{ .link | safeURL }}" target="_blank" rel="noopener">{{(index $.Site.Data.portfolio $.Site.Params.locale).defaulthint | markdownify}}</a>
                </div>

              {{ end }}
              <div class="seperator">
                {{ range .tags }}
                  <p class="tag">{{ . }}</p>

                {{ end }}
              </div>
            </div>
            </div>
        {{ end }}
            </div>
            </div>
    </div>
  {{ end }}
    <script>
     var coll = document.getElementsByClassName("collapsible");
     var i;

     for (i = 0; i < coll.length; i++) {
         coll[i].addEventListener("click", function() {
             this.classList.toggle("active");
             var content = this.nextElementSibling;
             if (content.style.display === "block") {
                 content.style.display = "none";
             } else {
                 content.style.display = "block";
             }
         });
     }
    </script>
{{ end }}
